:root {
  --text-color-main: #213547;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Helvetica, sans-serif;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
  background: ffffff;
  min-height: 50rem;
  padding: 1rem 2rem;
  color: var(--text-color-main);
  background-color: #000;
}

/* HEADER START */

.header {
  width: 100%;
  border-radius: 14px;
  padding: 0.5em 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  color: #000;
}

.header img {
  width: 13rem;
}

.header h1 {
  font-size: 2rem;
}

/* HEADER END */

/* INTERFACE CONTAINER START */

.interface-container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical */
  align-items: center; /* Horizontal */
  flex-grow: 1;
  background-color: #f4f4f4;
  border-radius: 14px;
}

/* INTERFACE CONTAINER END */

/* SEARCH BAR START */

.search-container {
  width: 60%;
}

.search-input {
  width: 100%;
  border-radius: 999px;
  border: solid lightgray;
  min-height: 1.5rem;
  padding: 0.8rem 2rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  font-size: 1.1rem;
  margin-bottom: 0.25em;
}

.search-input:hover {
  border: solid gray;
  box-shadow: 0px 0px 20px -17px;
}

.search-input:active {
  transform: scale(0.99);
}

.search-input:focus {
  border: solid #000;
}

/* SEARCH BAR END */

/* SEARCH RESULTS START */

.search-results-wrapper {
  opacity: 1;
  visibility: visible;
  width: 60%;
  max-height: 15rem;
  overflow-y: auto;
  transition: 1000ms ease-out;
  box-shadow: 2px 2px 8px;
  border-radius: 7px;
}

.search-results-wrapper.inactive {
  opacity: 0;
  display: none;
  width: 60%;
  max-height: 15rem;
  overflow-y: auto;
  transition: 1000ms ease-out;
}

.search-results-wrapper .single-result {
  width: 100%;
  background: #f4f4f4;
  flex-direction: row;
  padding: 1em;
}
.search-results-wrapper .single-result:hover {
  width: 100%;
  background: #dbdbdb;

  padding: 1em;
}

/* SEARCH RESULTS END */

/* SELECTED INGREDIENTS START */

.selected-ingredient-content-holder {
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2em;
  gap: 3rem;
}

.ingredient-info-card {
  aspect-ratio: 3/4;
  border: solid lightgray;
  box-shadow: 1px 1px 4px;
}

.ingredient-info-card p {
  font-size: 1.3rem;
}

.ingredient-info-card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  position: relative;
  isolation: isolate;
  overflow: hidden;
  color: #f4f4f4;
  padding: 2em 1em;

  line-height: 1.4;
  text-shadow: 1px 1px 2px black;
}

/* Color filter on top of the images */
.ingredient-info-card .card-text::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgb(0 0 0 / 0.9), rgb(0 0 0 / 0));
}

/* Input value */
.ingredient-info-card .card-text .input-area input {
  width: 60%;
  border-radius: 999px;
  border: solid lightgray;
  min-height: 1.5rem;
  padding: 0.8rem 1rem;
  outline: none;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 1.3rem;
  text-align: center;
}

.ingredient-info-card .card-text .input-area input:hover {
  border: solid gray;
}

.ingredient-info-card .card-text .input-area input:active {
  transform: scale(0.99);
}

.ingredient-info-card .card-text .input-area input:focus {
  border: solid #000;
}

.ingredient-info-card .card-text .input-area span {
  offset: 3em;
  font-size: 1.4rem;
  margin-left: 0.25em;
}

@media (max-width: 1250px) {
  .selected-ingredient-content-holder {
    grid-template-columns: 1fr 1fr;
  }
}

/* SELECTED INGREDIENTS END */

/* TOTAL CONSUMED INFO START */

.display-area {
  min-width: 250px;
  min-height: 250px;
  margin: 3em 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.chart-info {
  width: clamp(325px, 750px, 840px);
  min-height: 350px;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background-color: #213547;
}

@media (max-width: 1250px) {
  .display-area {
    max-width: 375px;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .chart-info {
    max-width: 300px;
  }
}

/* .ingredient-info-card .card-text .nutrition-info {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  flex-grow: 1;
} */

/* SELECTED INGREDIENTS END */
